<div class="side-container">
  <ul class="list-side">
    <li>
      <a href="">
        <img src="../../../assets/images/home-icon.png" alt="">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/images/Book-Icon.png" alt="">
        <span>My-Books</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/images/info-icon.png" alt="">
        <span>About</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/images/logout-icon.png" alt="">
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
